---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: eventmesh-backend
  namespace: knative-eventing
  labels:
    app: eventmesh-backend
    app.kubernetes.io/version: devel
    app.kubernetes.io/component: eventmesh-backend
    app.kubernetes.io/name: knative-eventing
spec:
  selector:
    matchLabels:
      app: eventmesh-backend
  template:
    metadata:
      name: eventmesh-backend
      labels:
        app: eventmesh-backend
        app.kubernetes.io/version: devel
        app.kubernetes.io/component: eventmesh-backend
        app.kubernetes.io/name: knative-eventing
    spec:
      securityContext:
        runAsNonRoot: true
      serviceAccountName: eventmesh-backend

      # To avoid node becoming SPOF, spread our replicas to different nodes and zones.
      topologySpreadConstraints:
        - maxSkew: 2
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: eventmesh-backend
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: eventmesh-backend
                topologyKey: kubernetes.io/hostname
              weight: 100

      containers:
        - name: controller
          image: ko://knative.dev/backstage-plugins/backends/cmd/eventmesh
          imagePullPolicy: IfNotPresent
          env:
            # TODO - necessary?
            # - name: CONFIG_LEADERELECTION_NAME
            #  value: config-kafka-leader-election
            # TODO - necessary?
            # - name: CONFIG_LOGGING_NAME
            #  value: config-logging
            # TODO - necessary?
            #- name: CONFIG_OBSERVABILITY_NAME
            #  value: config-observability
            # TODO - necessary?
            #- name: METRICS_DOMAIN
            #  value: knative.dev/eventing
            - name: SYSTEM_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          ports:
            - containerPort: 9090
              name: metrics
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
          terminationMessagePolicy: FallbackToLogsOnError
          terminationMessagePath: /dev/termination-log
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
      restartPolicy: Always

---
apiVersion: v1
kind: Service
metadata:
  name: eventmesh-backend
  namespace: knative-eventing
  labels:
    app: eventmesh-backend
    app.kubernetes.io/version: devel
    app.kubernetes.io/component: eventmesh-backend
    app.kubernetes.io/name: knative-eventing
spec:
  ports:
    - name: http
      port: 8080
      targetPort: 8080
    - name: http-metrics
      port: 9090
      targetPort: 9090
  selector:
    app: eventmesh-backend
